<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <!-- Conexión a Oracle -->
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:FREE</property>
        <property name="hibernate.connection.username">SYSTEM_EMPLOYEES</property>
        <property name="hibernate.connection.password">tu_password</property>

        <!-- Dialecto Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>

        <!-- Mostrar SQL en consola -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Escaneo de entidades -->
        <mapping class="com.system.employees.model.Empleado"/>
    </session-factory>
</hibernate-configuration>
